Package: hello
Version: 1.0-1
Architecture: all
Maintainer: Claude Warren <claude@unknown>
Installed-Size: 10
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
